:root {
}

html {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  margin: 0;
  background-color: #ffffff;
  color: #262626;
  height: 100vh;
}

.container-titulo h1 {
  padding: 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  background-color: #262626;
  color: #f6f6f6;
  border-radius: 10px;
  text-align: center;
}
.container-principal {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 50vh;
  box-shadow: #ddd 0px 0px 5px;
}

.container-subtitulo {
  text-align: center;
}

.container-subtitulo img {
  width: 100px;
  margin-bottom: 10px;
}

.container-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.container-form form input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  background-color: #ffffff;
  transition: border-color 0.3s ease;
}

.container-form form input:focus {
  border-color: #262626;
}

.container-form form input::placeholder {
  color: #aaa;
}
.container-form button {
  background-color: #ffffff;
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url("img/svg/button-add.svg");
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.mensaje-error {
  color: red;
  font-size: 1.2rem;
  font-style: oblique;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}

.container-lista-amigos {
  margin-top: 2rem;
}

.lista-amigos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  padding: 0;
}

.lista-amigos li {
  width: 50%;
  background-color: #f3f4f6;
  color: #262626;
  font-size: 1.2rem;
  font-weight: bolder;
  list-style-type: none;
  padding: 5px 5px;
  text-align: center;
  border-radius: 1rem;
}

.container-buttons {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.container-buttons img {
  width: 25px;
  height: 25px;
}

.amigo-secreto {
  display: none;
  text-align: center;
  background-color: #dcfce7;
  color: #11a83f;
  padding: 1rem;
  border-radius: 1rem;
}

.btn-sortear,
.btn-reiniciar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
}

/* Botón Sortear */
.btn-sortear {
  background-color: #262626;
  color: #ffffff;
}

.btn-sortear:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-sortear:disabled {
  background-color: #aaa;
  color: #ffffff;
  border: 1px solid none;
}

/* Botón Reiniciar */

.btn-reiniciar {
  background-color: #ffffff;
  color: #262626;
  border: 1px solid #aaa;
}

.btn-reiniciar:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media query para pantallas menores a 480px*/

@media (max-width: 640px) {
  .container-principal {
    width: 40vh;
  }
  .container-titulo h1 {
    font-size: 1.5rem;
  }
  .mensaje-error {
    font-size: 1rem;
  }

  .amigo-secreto {
    font-size: 1rem;
  }
}
